.css-1lwa3th-MuiFormLabel-root-MuiInputLabel-root {
  color: #F9F4DA !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #F9F4DA !important;
}

.css-1wc848c-MuiFormHelperText-root {
  color: #e6a41a !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #F9F4DA !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 400px !important;
  margin-bottom: 1.5rem !important;
}