.css-1lwa3th-MuiFormLabel-root-MuiInputLabel-root {
  color: #f9f4da !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #f9f4da !important;
}

.css-1wc848c-MuiFormHelperText-root {
  color: #e6a41a !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #f9f4da !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 400px !important;
  margin-bottom: 1.5rem !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #100d0e !important;
  color: #f9f4da !important;
  form {
    button {
      border: none;
      border-radius: 6px;
      font-size: 1.5rem;
      line-height: 18px;
      font-weight: 500;
      color: #100d0e;
      background: #fcba28;
      padding: 23px 50px;
      border-radius: 9999px;
      text-transform: uppercase;
      font-family: "Paytone One", sans-serif;
      cursor: pointer;
      margin-top: 2rem;
    }
  }
  button {
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    line-height: 18px;
    font-weight: 500;
    color: #100d0e;
    background: #f9f4da;
    padding: 15px 25px;
    border-radius: 9px;
    text-transform: uppercase;
    font-family: "Paytone One", sans-serif;
    cursor: pointer;
    margin-top: 2rem;
  }
}
